:root{
	--dark: #1B1B1B;
	--dark-gray: #242424;
	--light-gray: #c6c6c6;
	--orange: #F27B2C;

	--font:'Roboto', sans-serif;
	--bold:'Roboto Condensed', sans-serif; 
}

* {
	margin: 0%;	
	padding: 0%;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}


body {
	font-size: 1.6rem;
	margin: 0%;
	padding: 0%;
	background-color: var(--dark);
	color: var(--light-gray);
	font-family: var(--font), sans-serif;
	outline: none;
}

.orange {
	color: var(--orange);
}

.terminal-user {
	font-size: 1.6rem;
	font-weight: bold;
}

/* ANIMATIONS */


@keyframes display {
	from {
		opacity: 0%;
	}
	to {
		opacity: 100%;
	}
}

@keyframes write {
	from { 
		width: 100%;
		border-left: var(--light-gray) 3px solid;
	}
	to {
		width: 0%;
		border-left: var(--light-gray) 3px solid;
	}
}


/*  HEADER  */

header {
	margin: 0%;
	padding: 0%;
	background-color: #1f1f1f;
	opacity: 90%;
	z-index: 1;
	width: 100vw;
	position: fixed;
	top:0;
}

.burger-menu {
	background: none;
	color: var(--light-gray);
	border: none;
	font-size: 2rem;
	margin: 15px;
	outline: none;
}

nav > p {
	display: none;
}

nav {
	display: none;
	padding: 0%;
	transition: all ease 200ms;
}

nav.active{
	display: block;
	transition: all ease 200ms;
	animation: display 400ms;
}

.nav-menu {
	list-style: none;
}

.nav-menu-item {
	margin: 0;
	padding: 15px;
}

.nav-menu-item a {
	color: var(--light-gray);
	text-decoration: none;
}

.nav-menu-item a:hover{
	color: var(--orange);
	transition: all ease 400ms;
}

.command{
	position: relative;
}
.command > span {
	position:absolute;
  right:0;
  width:0;
}


/* Home */

main {
	z-index: 1;
}

.Home {
	margin-top: 0%;
	padding-top: 90px;
	padding-bottom: 45px;
	/*height: 100vh;*/
}

.terminal {
	box-sizing: border-box;
	margin-left: 5%;
	margin-right: 5%;
	padding: 20px;
	background-color: rgb(48,48,48,0.9);
	border-radius: 25px;
	box-shadow: 4px 4px 5px var(--dark-gray);
	animation: display 1.5s;
}

.terminal-head {
	display: flex;
	font-size: 1.4rem;
	font-weight: bold;
}

.terminal-head-user{
	width: 50%;
	text-align: left;
}

.terminal-head-menu{
	width: 50%;
	text-align: right;
}

.terminal-body {
	text-align: center;
}

h1.presentation-title {
	margin-top: 60px;
	font-size: 2.3rem;
} 

h3.presentation-subtitle {
	margin-top: 15px;
	font-size: 1.8rem;
}

img.presentation-img {
	display: block;
	margin: auto;
	margin-top: 60px;
	width: 120px;
	height: 120px;
	border-radius: 100px;
	border: 2px solid var(--orange);
}

a.meetme-btn {
	margin: auto;
	margin-top: 60px;
	margin-bottom: 20px;
	width: 50%;
	font-size: 1.6rem;
	text-decoration: none;
	color: var(--light-gray);
	padding: 15px;
	background-color: var(--dark-gray);
	border-radius: 15px;
	display: block;
}

a.meetme-btn:hover {
	background-color: var(--orange);
	color: var(--dark);
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.About {
	box-sizing: border-box;
	padding: 25px 15px 50px 15px;
}

#about-cursor{
	background-color: var(--dark);
	width: 100%;
}


.about-title {
	font-family: var(--bold);
	font-size: 3.6rem;
	margin-top: 40px;
	text-align: center;
}

.about-neofetch{
	margin-top: 50px;
	opacity: 0%;
	margin-left: 5%;
	margin-right: 5%;
}

img.about-neofetch-img {
	width: 210px;
	height: 210px;
	display: block;
	margin: auto;
	border-radius: 25px;
	border: var(--orange) solid 2px;
}

tt.about-neofetch-info {
	display: inline-block;
	margin-top: 40px;
	font-size: 1.7rem;
}

.about-story {
	margin-top: 25px;
	text-align: center;
	font-size: 1.7rem;
	opacity: 0;
	margin-left: 5%;
	margin-right: 5%;
}

.about-story p {
	text-align: left;
}

.about-story a {
	margin-top: 40px;
	display: inline-block;
	text-decoration: none;
	background-color: var(--orange);
	font-size: 1.7rem;
	color: var(--dark);
	border-radius: 15px;	font-weight: bold;
	padding: 15px 20px 15px 20px;
}

.about-story a:hover {
	color: var(--light-gray);
	background-color: var(--dark-gray);
	transition: all ease 400ms;
}

.Skills {
	background-color: var(--dark-gray);
	box-sizing: border-box;	
	padding: 20px 15px 50px 15px;
}


#skills-cursor{
	background-color: var(--dark-gray);
	width: 100%;
}


.Skills > p {
	margin-bottom: 40px;
}

.skills-question {
	font-size: 3.2rem;
	text-align: center;
	font-family: var(--bold);
	margin-bottom: 30px;
}

#preskills{
	display: inline-block;
	margin: 0% 6% 4% 6%;
}

#preskills > a {
	cursor: pointer;
}

#preskills > a:hover {
	text-decoration: underline;
}

.skills-info {
	margin-top: 20px;
}

.skills-cards{
	opacity: 0;
}

.skills-backend , .skills-frontend {
	/*border: var(--orange) 1px solid;*/
	margin-top: 25px ;
	padding: 20px;
	margin-left:5% ;
	margin-right: 5%;
	border-radius: 25px;
	background-color: #353535;
	box-shadow: var(--dark) 5px 5px 6px;
}

.skills-img {
	margin-left: 5%;
	margin-right: 5%;
}

.skills-frontend-title, .skills-backend-title {
	font-size: 1.6rem;	
	margin-bottom: 15px;
}

.skills-languages{
	margin-bottom: 15px;
	font-size: 1.7rem;
}

.skills-img {
	margin-top: 25px;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	opacity: 0%;
}

.skills-img img{
	padding: 0%;
	margin: 0%;
	border: var(--orange) solid 1px;	
	border-radius: 25px;
	width: 100%;
	max-height: 430px;
	/*min-height: 300px;*/
	/*max-height: 620px;*/
	box-shadow: var(--dark) 5px 5px 6px;

}


/* PROJECTS MODEAL */

.Projects {
	display: none;
	position: fixed;
	z-index:100;
	padding-top: 60px;
	padding-bottom: 30px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

#Projects-btn {
	cursor: pointer;
}

.projects-container {
	margin: auto;
	width: 90%;
	padding: 20px;
	padding-top: 10px;
	background-color: var(--dark-gray);
	opacity: 100%;
	border-radius: 20px;
	animation: display 0.8s;
}

.projects-head > p {
	display: inline-block;
	margin-top: 10px;
}

.project-close{
	color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
	float: right;
}

.project-close:hover, .project-close:focus {
	color:var(--orange);
	text-decoration: none;
	cursor: pointer;
}

.projects-container > h2 {
	font-family: var(--bold);
	text-align: center;
	margin: 25px 0px 45px 0px;
	font-size: 2.6rem;
}

.project-box {
	margin-bottom: 25px;
	margin-left: 5%;
	margin-right: 5%;
	padding: 0px;
}
.project-border {
	border-radius: 20px;
	background-color: var(--dark);
	box-shadow: #171717 5px 5px 6px ;
}

.project-box-img {
	border-bottom: var(--light-gray) 1px solid;
}

.project-box-img > a > img {
	border-radius: 20px 20px 0px 0px;	
	width: 100%;
	height: 100%;
}

.project-box-description {
	padding: 20px;
}

.project-name {
	font-weight: bold;
	font-size: 2rem;
}

.github-project-btn {
	display: flex;
	justify-content: center;
}

.github-project-btn a {
	display:block;
	margin-top: 30px;
	font-size: 1.9rem;
	padding: 15px;
	width: 120px;
	text-align: center;
	background-color: var(--dark);
	border-radius: 15px;
}

/* FOOTER */

footer{
	padding-bottom: 30px;
	box-sizing: border-box;
}

.Contact {
	padding: 20px 15px 50px 15px;
}

.Contact > p {
	margin-bottom: 40px;
	font-weight: bold;
}

#contact-cursor {
	background-color: var(--dark);
	width: 100%;
}

h1.contact-title {
	margin: 40px 0px 40px 0px;
	text-align: center;
	font-size: 3.6rem;
	font-family: var(--bold);
}

.contact-form {
	margin: 0% 5% 0% 5%;
	opacity: 0%;
}

.contact-form-input {
	width: 100%;
	display: block;
	margin-bottom: 20px;
	font-size: 1.6rem;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 10px;
	border: none;
	background-color: #3c3c3c;
	color: var(--light-gray);
	outline: none;
	transition: all ease 200ms;
}

.contact-form-input:focus{
	border: 1.4px solid var(--orange);
	transition: all ease 200ms;
}

.contact-form-message {
	display: block;
	color: var(--light-gray);
	width: 100%;
	height: 150px;
	font-size: 1.6rem;
	font-family: var(--font);
	font-weight: 600;
	padding: 10px;
	border: none;
	border-radius: 15px;
	background-color: #3c3c3c;
	resize: none;
	outline: none;
	transition: all ease 200ms;
}

.contact-form-message:focus{
	border: var(--orange) 1.4px solid;
	transition: all ease 200ms;
}

button.contact-form-button {
	margin-top: 20px;
	border: none;
	background-color: var(--orange);
	color: var(--dark);
	display: block;
	padding: 10px;
	font-size: 1.6rem;
	width: 100%;
	border-radius: 10px;
}

button.contact-form-button:hover{
	background-color: var(--dark-gray);
	color: var(--light-gray);
	transition: all ease 400ms;
}

.contact-info {
	text-align: center;
	margin-top:15px ;
}

.contact-info-socialmedia {
	border-top: 1.5px solid var(--orange);
	margin: 0% 5% 0% 5%;
}

.contact-info-email a {
	margin-bottom: 20px;	
	font-weight: bold;
	font-style: italic;
	font-size: 1.6rem;
	color: var(--light-gray);
	text-align: center;
	text-decoration: none;
	display: block;
}

.contact-info-email a:hover {
	text-decoration: underline;
}

.contact-info-socialmedia > ul {
	list-style: none;
	margin-top: 25px;
	display: flex;
	justify-content: center;
}

.socialmedia-item {
	margin: 0% 5% 0% 5%;
	display: inline-block;
}

.socialmedia-item a{
	text-decoration: none;
	color: var(--orange);
	font-size: 2.5rem;
}
