h1.presentation-title{
	font-size: 3.4rem;
}


.about-neofetch{
	display: flex;
}

img.about-neofetch-img{
	margin-left: 5%;
	width: 230px;	
	height: 230px;
}

tt.about-neofetch-info{
	text-align: left;
	font-size: 1.8rem;
	display: inline-block;
	margin-left: 12%;
	margin-top: 2%;
}

.about-story{
	display: block;
	margin-top: 40px;
}

.skills-question {
	font-size: 3.5rem;
	margin-top: 50px;
	margin-bottom: 45px;
}

#preskills {
	font-size: 1.7rem;
	margin: 0% 10% 5% 10%;
}

.skills-info > div{
	margin-left: 5%;
	margin-right: 5%;
}

.skills-json {
	font-size: 1.4rem;
	margin-left:15% !important;
	margin-right:15% !important;
}

pre {
	display: flex;
}

code {
	display: inline-block;
}

.projects-container {
	width: 80%;
}

.projects-container > h2 {
	margin-top: 35px;
	font-size: 3.4rem;
}

.project-box {
	margin-left: 15%;
	margin-right: 15%;
}

.github-project-btn a {
	width: 200px;
}

.contact-title{
	margin-top: 50px;
}

.contact-form{
	max-width: 550px;
	display: block;
	margin: auto;
}

